<mat-expansion-panel  (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{painelPergunta.titulo}}</mat-panel-title>
    <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
      <span>{{painelPergunta.descricao}}</span>
      <span [class]="'count ' + getClass()">{{perguntaCount.atual}}/{{perguntaCount.total}} respondidas</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly start">
    <app-pergunta (focusout)="change($event)" *ngFor="let pergunta of painelPergunta.perguntas" [form]="form" [pergunta]="pergunta"></app-pergunta>
  </div>
</mat-expansion-panel>
