.mat-form-field {
  width: 100%;
}

.mat-radio-button {
  width: 100%;
}

.mat-radio-group {
  width: 100%;
}
.mat-icon {
  font-size: 14px;
  color: #848484;
  margin-right: 3px;
  cursor: pointer;
}
