<div [formGroup]="form">
  <div [ngSwitch]="pergunta.controlType">
    <mat-form-field *ngSwitchCase="'text'">
      <mat-label [attr.for]="pergunta.key">{{pergunta.label}}</mat-label>
      <input matInput
             [matTooltip]="pergunta.tooltip || pergunta.label"
             [placeholder]="pergunta.placeholder"
             [formControlName]="pergunta.key"
             [id]="pergunta.key"
             [type]="pergunta.type">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-label>{{pergunta.label}}</mat-label>
      <mat-select [id]="pergunta.key"
                  [formControlName]="pergunta.key"
                  [matTooltip]="pergunta.tooltip || pergunta.label"
      >
        <mat-option>Selecione</mat-option>
        <mat-option *ngFor="let opt of pergunta.options" [value]="opt.value">{{opt.key}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngSwitchCase="'radio'" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-envely start">
      <mat-label><strong>{{pergunta.label}}</strong></mat-label>
      <mat-radio-group [formControlName]="pergunta.key"
                       color="primary"
                       [matTooltip]="pergunta.tooltip || pergunta.label"
                       fxLayout="row"
                       fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-radio-button fxFlex="50" *ngFor="let opt of pergunta.options"
                          [value]="opt.value">{{opt.key}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field *ngSwitchCase="'datePicker'">
      <input matInput [matDatepicker]="dataPicker"
             [placeholder]="pergunta.placeholder"
             [matTooltip]="pergunta.tooltip || pergunta.label"
             [id]="pergunta.key"
             [formControlName]="pergunta.key">

      <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
      <mat-datepicker #dataPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'time'">
      <input matInput
             [type]="pergunta.type"
             [placeholder]="pergunta.placeholder"
             [id]="pergunta.key"
             [matTooltip]="pergunta.tooltip || pergunta.label"
             [formControlName]="pergunta.key">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'inputMap'">
      <input matInput
             [placeholder]="pergunta.key"
             [id]="pergunta.key"
             [matTooltip]="pergunta.tooltip || pergunta.label"
             [formControlName]="pergunta.key">
      <mat-icon matSuffix (click)="pergunta.actionClick()">{{pergunta.icon}}</mat-icon>
    </mat-form-field>


    <div *ngFor="let validation of pergunta.validations">
      <mat-error *ngIf="hasErros(pergunta.key, validation?.validation?.toLowerCase())">{{validation?.message}}</mat-error>
    </div>
  </div>
</div>
